=form_for @table, url: tables_path do |f|
  %fieldset.fieldset
    %legend Create new table
    =label_tag 'number', 'Table number:'
    =f.number_field :number
    =label_tag 'capacity', 'Table capacity:'
    =f.number_field :capacity
    =f.submit class: "button"
%h2 All available tables:
%table
  %thead
    %tr
      %th Number
      %th Capacity
      %th Destroy
  %tbody
    -@tables.each do |t|
      %tr
        %td #{t.number}
        %td #{t.capacity}
        %td 
          =button_to "Destroy", { action: "destroy", id: t.id}, method: :delete, class: "button secondary tiny", data: {confirm: "Are you sure?" }
