-#  Rails flash messages styled for Zurb Foundation
- flash.each do |key, value|
  %div{ class: "alert-box #{key} radius", data: {closable: true}}
    %strong
      = value
    %a{href:"#", class: "close", data: {close: true }} &times
   