-# navigation styled for Zurb Foundation 5
%nav.top-bar
  %ul.title-area
    %li{class: "toggle-topbar menu-icon"}
      %a{href: "#", title: "Menu"}
  .top-bar-section
    %ul
      = render 'layouts/navigation_links'
